* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


hr {
    background-color: #232425;
    width: 80%;
    height: 1px;
    margin: 8px 10%;
    margin-bottom: auto;
    outline: none;
    outline-color: #313334;
    margin-top: 25px;

}


body {
    background-color: #313334;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;

}

nav {
    background-color: black;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    display: flex;
    margin-left: 23px;
}




nav ul a{
    text-decoration: none;
    color: #D3D3D3;
}

nav ul a:hover{
    color: #313334;
}


.left {
    font-size: 2.5rem;
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}


.infocont {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0;
    margin-top: 0;
    margin-left: 15%;


}


.infocont>div {
    width: 80%;
    margin-top: 63px;
}

.intro {
    font-size: 2rem;
    padding-top: 15%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.intro div {
    font-size: 4rem;

}

.pic img {
    width: 45%;
    margin-left: 114px;
    margin-bottom: 30px;

}

.infocont div span {
    color: rgb(131, 199, 222);

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

#Skills {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: #D3D3D3;
}

.about {
    max-width: 80vw;
    margin: auto;
    font-size: 1rem;
    height: auto;
    margin-top: 4%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}



.about div {
    color: rgb(131, 199, 222);
    font-size: 2rem;
    margin-bottom: 40px;

}

.Pinfo {

    margin-top: 4%;
    margin: 30px 0;
    
}

.pinfo li{
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

}

.about p{
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}



.information {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.about li {
    list-style: none;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font: 0.5rem;
}


.myint li {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    width: auto;
    margin: 0;

    margin-bottom: 10px;
}

#myintro {
    color: #D3D3D3;

}

#myintro2 {
    color: #D3D3D3;

}

#myintro3 {
    color: #D3D3D3;

}

#myintro4 {
    color: #D3D3D3;

}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48;

    margin: 25px;
}


.about img {
    width: 36%;
}


.educat h1 {

    display: flex;
    width: 70%;
    color: rgb(131, 199, 222);
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 4%;
}

.educat {
    max-width: 80vw;
    margin: 20px auto auto;
    font-size: 1rem;
    height: auto;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.educat div {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #D3D3D3;

}

.educat div img {
    margin: 2%;
    width: 73%;
    margin-top: 23%;
}

.educat div p {
    width: fit-content;
    margin-left: 14%;
    
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.institude {
    margin: 4%;
}

.institude li {
    margin: 0 40%;
    font-size: 1.2rem;
    list-style: none;

}

#sch{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#uni{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#coll{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projects {
    height: auto;
    max-width: 80vw;
    margin: auto;
}

.projects li{
    list-style: none;
    
}

.projects h1 {
    display: flex;
    width: 70%;
    color: rgb(131, 199, 222);
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 4%;
    
}

.projects p {
    width: 17%;
    margin: 0 45%;
}

.projects img {
    width: 25%;
    background-color: #232425;
    padding: 1%;
    margin: 2% 40%;
    
}

.projects div:hover{
    text-decoration: none;
    
    width: 85%;
}

.projects div{
    margin:auto;
    width: 80%;
    
}

#Scholarshaven{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Snake{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Quiz{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.socials{
    height: auto;
    max-width: 80vw;
    margin: auto;
}

.socials h1{
    display: flex;
    width: 70%;
    color: rgb(131, 199, 222);
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 4%;
   
}

.socials img{
    margin: 6%;
    padding: 1%;
    width: 6;
    
}

#socialslink{
    background-color: #232425;
    color: #D3D3D3;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

